* {
	margin: 0;
	padding: 0;
}

.canvas {
	background-repeat: repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABDUlEQVR4nO3SwQnAQAgAwfTfo7VcvikgcIvMgH9lfZ4lZubc3oEPQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpCYNUFm5pjO3P6H36w6ZgNBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRmS5AX3knJudppFlwAAAAASUVORK5CYII=");
	border: 1px solid #ccc;
	position: absolute;
	top: 100px;
	left: 100px;
}

.tools {
	margin: 1rem;
}

.tool {
	margin: 0.2rem;
}

.line {
	stroke: black;
	stroke-width: 5;
	stroke-linecap: round;
}

.box {
	fill: white;
	stroke: black;
	stroke-width: 5;
	stroke-linejoin: round;
}

.circle {
	fill: white;
	stroke: black;
	stroke-width: 5;
}

.shadow {
	fill: none !important;
	stroke: #999;
}

.selected {
	stroke: #f00 !important;
}

