* {
	margin: 0;
	padding: 0;
}

.canvas {
	background-repeat: repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABDUlEQVR4nO3SwQnAQAgAwfTfo7VcvikgcIvMgH9lfZ4lZubc3oEPQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpAYQWIEiREkRpCYNUFm5pjO3P6H36w6ZgNBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRGkBhBYgSJESRmS5AX3knJudppFlwAAAAASUVORK5CYII=");
	border: 1px solid #ccc;
}
