@font-face {
  font-family: "メイリオ";
  src: local("UD Digi Kyokasho NK-R");
}

@font-face {
  font-family: "Meiryo";
  src: local("UD Digi Kyokasho NK-R");
}

@font-face {
  font-family: "MS PGothic";
  src: local("UD Digi Kyokasho NK-R");
}

@font-face {
  font-family: "MS Pゴシック";
  src: local("UD Digi Kyokasho NK-R");
}

