.section10 {
  width: 200px;
  height: 40px;
  margin: 10px;
}

.css10-1 {
  background: #58a;
  transform: skew(-30deg);
}

.css10-2 {
  background: #58a;
  transform: skew(-30deg);
}

.css10-2 > div {
  transform: skew(30deg);
  line-height: 40px;
  text-align: center;
  color: white;
}

.css10-3 {
  position: relative;
  line-height: 40px;
  text-align: center;
  color: white;
}

.css10-3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #58a;
  transform: skew(-30deg);
}
