.section15 {
  width: 200px;
  height: 150px;
  margin: 10px;
  background: #fb3;
}

.css15-1 {
  box-shadow: 0 5px 4px -4px black;
}

.css15-2 {
  box-shadow: 3px 3px 6px -3px black;
}

.css15-3 {
  box-shadow:
     5px 0 5px -5px black,
    -5px 0 5px -5px black;
}
