.section21 {
  font: inherit;
}

.section21 dt, .section21 dd {
  display: inline;
  margin: 0;
}

.section21 dd {
  font-weight: 600;
}

.section21 dd + dt::before {
  content: "\A";
  white-space: pre;
}

.section21 dd + dd::before {
  content: ', ';
  font-weight: normal;
  margin-left: -.25em;
}
