.css21 {
  font: inherit;
}

.css21 dt, .css21 dd {
  display: inline;
  margin: 0;
}

.css21 dd {
  font-weight: 600;
}

.css21 dd + dt::before {
  content: "\A";
  white-space: pre;
}

.css21 dd + dd::before {
  content: ', ';
  font-weight: normal;
  margin-left: -.25em;
}
