.css40 main {
  background: #fb3;
}

.css40-1 main {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.css40-1 section {
  margin: auto;
  background: #655;
  color: #eee;
  font-size: 2rem;
  padding: 1em;
  border-radius: 0.5em;
}
