.css41 main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.css41 section {
  flex: 1;
  background-color: #eee;
}

.css41 footer {
  background-color: #252525;
  color: #eee;
}

.css41-1 {
  display: none;
}

.css41 ul {
  counter-reset: css41;
  list-style: none;
}

.css41 li:before {
  counter-increment: css41;
  content: counter(css41) " ";
}

.css41 li {
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #cbb0a6;
  color: #fff;
}
