.css8-1 {
  padding: 1em;
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg,
      red 0, red 12.5%,
      transparent 0, transparent 25%,
      #58a 0, #58a 37.5%,
      transparent 0, transparent 50%)
      0 / 5em 5em;
}

.css8-2 {
  padding: 1em;
  border: 16px solid transparent;
  border-image: 16 repeating-linear-gradient(-45deg,
    red 0, red 1em,
    transparent 0,transparent 2em,
    #58a 0, #58a 3em,
    transparent 0,transparent 4em);
  background-color: transparent;
}

@keyframes ants {
  to { background-position: 100% }
}

.css8-3 {
  padding: 1em;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / .6em .6em;
  animation: ants 12s linear infinite;
}

.css8-4 {
  border-top: .2em solid transparent;
  border-image: 100% 0 0 linear-gradient(90deg, currentColor 4em, transparent 0);
  padding-top: 1em;
}

