.section {
  display: flex;
  flex-wrap: wrap;
}

.section9 {
  background: #fb3;
  width: 400px;
  height: 200px;
  margin: 10px;
}

.css9-1 {
  border-radius: 100px;
}

.css9-2 {
  border-radius: 50%;
}

.css9-3 {
  border-radius: 200px / 100px;
}

.css9-4 {
  border-radius: 50px / 100px;
}

.css9-5 {
  border-radius: 50% / 100% 100% 0 0;
}

.css9-6 {
  border-radius: 100% 0 0 100% / 50%;
}

.css9-7 {
  border-radius: 100% 0 0 0;
}
