body {
  background: '#eee';
}

.links {
  margin: 2rem;
}

.link {
  display: block;
  line-height: 140%;
}

.link:hover {
  background-color: #f3f3f3;
}

.canvas {
  margin: 2rem;
}

.container {
  padding: 1rem;
  min-height: 10rem;
}
